{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}
    <div class="d-flex justify-content-end pt-7">
        <a href="{{ path('app_logout') }}">Log out</a>
    </div>

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="menu menu-rounded menu-column menu-lg-row my-5 my-lg-0 align-items-stretch fw-semibold px-2 px-lg-0" id="kt_app_header_menu" data-kt-menu="true">
        <input type="button" value="Add new user" onClick='location.href="{{ path('create_user') }}"'>
        <input id="edit_user" type="button" value="Edit user">
        <button id="del_user_btn" class="btn btn-sm fw-bold btn-primary">Delete selected row</button>
    </div>

    <div id="user">Loading...</div>

    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(document).ready(function () {
        $('.dataTables_filter input').off(); //
            $('#user').initDataTables({{ datatable_settings(datatable) }}, {
                'processing': false,
                'serverSide': true,

            }).then(function (dt) {
                dt.on('click', 'tr', function () {
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                    } else {
                        dt.$('.selected').removeClass('selected');
                        $(this).addClass('selected');
                    }
                })
                $('#del_user_btn').click(function () {
                    let url = '{{ path("delete_user") }}';
                    if (dt.row('.selected').id() != null) {
                        let data = dt.row('.selected').id();
                        $.ajax({
                            url: url,
                            type: 'DELETE',
                            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                            data: {'id': data},
                            success: function (response) {
                                if (response.success) {
                                    console.log(response);
                                    dt.row('selected').remove().draw(false);
                                } else {
                                    console.log(response);
                                    alert(response.message + ' ' + response.code);
                                }
                            },
                            error: function (xhr) {
                                let errorInfo = 'Error request: ' + '[' + xhr.status + ' ' + xhr.statusText + ']';
                                console.log('ajaxError xhr:', xhr);
                                alert(errorInfo);
                            }
                        });
                    } else {
                        alert('Select the row to delete!')
                    }
                })
                $('#edit_user').click(function () {
                    let url = '{{ path("update_user_list") }}';
                    if (dt.row('.selected').id() != null) {
                        let data = dt.row('.selected').id();
                        $.ajax({
                            url: url,
                            type: 'GET',
                            data: {id: data},
                            success: function (response) {
                                window.location.href = url + "?id=" + data;
                                console.log(response);
                            },
                            error: function (xhr) {
                                let errorInfo = 'Error request: ' + '[' + xhr.status + ' ' + xhr.statusText + ']';
                                console.log('ajaxError xhr:', xhr);
                                alert(errorInfo);
                            }
                        });
                    } else {
                        alert('Select the row to edit!')
                    }
                })
            });
        });
    </script>

{% endblock %}
