{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}
    <header>
        <div class="mb-3">
            <a href="{{ path('app_logout') }}">Log out</a>
        </div>
    </header>

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div id="del_user">
        <button id="del_user_btn" class="button">Delete selected row</button>
    </div>
    <div id="new_user">
        <input type="button" value="Add new user" onClick='location.href="{{ path('create_user') }}"'>
    </div>
{#    <div id="edit_user">#}
{#        <input type="button" id="edit_user_btn" class="intable_btn" value="Edit new user" onClick='location.href="{{ path('update_user_list', {id: user.id}) }}"'>#}
{#    </div>#}

    <a href=""></a>
    <div id="del_user">
        <button id="edit_user_btn" class="button">Edit new user</button>
    </div>
    <div id="user">Loading...</div>


    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(document).ready(function () {
        $('.dataTables_filter input').off(); //
            $('#user').initDataTables({{ datatable_settings(datatable) }}, {
                'processing': false,
                'serverSide': true,
            }).then(function (dt) {
                dt.on('click', 'tr', function () {
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                    } else {
                        dt.$('.selected').removeClass('selected');
                        $(this).addClass('selected');
                    }
                })
                $('#del_user_btn').click(function () {
                    let url = '{{ path("delete_user") }}';
                    if (dt.row('.selected').id() != null) {
                        let data = dt.row('.selected').id();
                        $.ajax({
                            url: url,
                            type: 'DELETE',
                            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                            data: {'id': data},
                            success: function (response) {
                                if (response.success) {
                                    console.log(response);
                                    dt.row('selected').remove().draw(false);
                                } else {
                                    console.log(response);
                                    alert(response.message + ' ' + response.code);
                                }
                            },
                            error: function (xhr) {
                                let errorInfo = 'Error request: ' + '[' + xhr.status + ' ' + xhr.statusText + ']';
                                console.log('ajaxError xhr:', xhr);
                                alert(errorInfo);
                            }
                        });
                    } else {
                        alert('Select the row to delete!')
                    }
                })
                $('#edit_user_btn').click(function () {
                    if (dt.row('.selected').id() != null) {
                        let data = dt.row('.selected').id();
                        // let par = parseInt(data);
                        {#let url = '{{ path('update_user_list') }}';#}
                        // $.get('/admin/users/update', {id: data});
                        $.ajax({
                            url: '/admin/users/update',
                            type: 'GET',
                            data: {'id': data},
                            success: function (response) {
                                dt.$('.selected').removeClass('selected'); //
                                console.log(response);
                            },
                            error: function (xhr) {
                                let errorInfo = 'Error request: ' + '[' + xhr.status + ' ' + xhr.statusText + ']';
                                console.log('ajaxError xhr:', xhr);
                                alert(errorInfo);
                            }
                        });
                    } else {
                        alert('Select the row to edit!')
                    }
                })
            });
        });
    </script>


{% endblock %}
